.content
	width 40rem
	margin 4rem auto 0 auto
	font-size 1.2rem
	color #111
	font-family "Source Code Pro"

h1
	margin 2.5rem 0 3rem 0

p
	margin-bottom 2.5rem

.track
	margin-bottom 3rem

.lyrics
	margin-top 4rem
	// font-style italic
	// font-family "Merriweather"

.symbol
	font-size 3rem
	display inline-block
	padding-top 3rem
