.title
  margin 0
  background-color white
  padding 3rem 0 3rem 0
  font-family "Open Sans", sans-serif
  letter-spacing 2px
  font-weight 800
  font-size 4rem
  text-transform uppercase
  @media (max-width: 450px)
    font-size 3rem
