footer
  p
    &copy; 2015 Ka+Bo&nbsp;&nbsp;
    <a href="http://soundcloud.com/kaplusbo" target="_blank">SoundCloud</a>&nbsp;&nbsp;
    <a href="http://twitter.com/kaplusbo" target="_blank">Twitter</a>&nbsp;&nbsp;
    <a href="http://facebook.com/kaplusbo" target="_blank">Facebook</a>&nbsp;&nbsp;
    <a href="/impressum" target="_blank">Site Notice</a>
