mixin body(titleText, contentName)
  include ../includes/logo.jade

  h1.center.title= titleText

  .content.grid-width-desktop
    .grid-flex-container
      .grid-flex-cell.remove-top-padding
        include ../content/about.jade

  include ../includes/footer.jade
