mixin head(title)
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    script(src='http://localhost:9000')
    script(src='/js/bundle.js')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto:900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css')
