p.track.
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/229875864&amp;color=111111&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  
div
  :markdown-it
    Bad Cannstatt is part of Stuttgart, Germany. Stuttgart is where we grew up and live. Bad is actually the German word for bath.
    If a city has Bad in front of its name in Germany it means that there are natural mineral water springs in this
    place and most likely there are mineral baths to visit there. [Just like you can in Bad Cannstatt](http://leuze.de).
    
    _Bad_ also is an English word for _evil_ or _not good_. In the Jamaican Patois dialect _bad_ can often stand for the 
    opposite of its original meaning. When a jamaican person says "this song ya bad" it generally means that they 
    really like the song. 
    
    This most likely stems from the fact that the word _bad_ is connected to the word _Badman_ which could be discribed
    best with the word _Gangsta_ and much like _Gangsta_, _Badman_ stands for the ultimate cool and absolute dominance.
    
    So you could say calling something _bad_, is like saying that something dominates. 
    
    We flipped the words in the name "Bad Cannstatt" in order to use the word _bad_ in the Jamaican Patois sense,
    basically saying that **Bad Cannstatt rulez**.
    
    We are topping that statement by mixing up these two meanings in the segment where the lyrics say "_we no regular bad,
    we mineral bad, bwoy test dem get a funeral bath_". Basically saying that we are not merely the regular kind of 
    ultimate cool but the _mineral_ version of it, making _mineral_ a word that qualifies the following word
    as something to be better than it is by itself. This makes absolutely no sense but it makes us chuckle.
    
    Here are the complete lyrics (written in plain English but performed in Jamaican Patois):
    
  .center.lyrics
    :markdown-it
      **CANNSTATT BADD**
      
      I can feel the crowd pulse through my veins  
      Tell myself to simmer down ready for the unveil  
      Me and my family we run the town  
      Guess who wears the crown  
      Guess who makes the deepest sound  
      Just so deep that you could drown  
      
      (Badd) We don't play  
      Put in the work more than all day  
      People say we are flyer than Nike Air  
      When we do something we do it with care  
      
      Cannstatt Badd
      
      (Repeat)
      
      We are not regular badd  
      We are mineral badd  
      Boy test, they get a funeral bath
      
  .center.
      <span class="symbol">❦</span>
      
      
