include ../mixins/head.jade

doctype html
html
  +head("My Site")
  body
    include ../includes/logo.jade
    
    h1.center.track-title About
    
    .content.grid-width-desktop
      .grid-flex-container
        .grid-flex-cell.remove-top-padding
          include ../content/about.jade
    
    include ../includes/footer.jade
