include ../mixins/head.jade

doctype html
html
  +head("My Silly Silly About Page")
  body
    h1 My About Page
    p Welcome to my super lame about page.
    
    //- include ./includes/content.md
    
    include ../includes/footer.jade
