include ../mixins/head.jade

doctype html
html
  +head("My Site")
  
  body.content
    h1 My Site
    p Welcome to my super lame site. Haha.
    
    //- include ./includes/content.md
    
    include ../includes/footer.jade
